{% extends 'commons/base.html' %}
{% block title %}：ページ詳細 - {{ block.super }}{% endblock %}
{% block content %}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        {{page.title}}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        {% for user in page.users.all %}【{{user.username}}】{% endfor %}
                        ({{page.created_at}})
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        {{page.body}}
                    </div>
                </div>
    {% for page_comment in page.page_comments.all %}
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        {{page_comment.title}}
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        {% for user in page_comment.users.all %}【{{user.username}}】{% endfor %}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    {{page_comment.body}}
                    </div>
                </div>
    {% endfor %}
{% endblock %}
